html,body {
	background-position:center;
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
	background-repeat: no-repeat;
	/*background-image: url('img/ajax-loader.gif');*/
	background: #fff;
}
body {
	font-family: Verdana,sans-serif;
}	
#cal {
	font-size: 11px;
	line-height: 14px;
	display: none;
	width: 100%;
}
#error, .centertext {
	font-size: 14px;
	line-height: 14px;
	position: absolute;
	top:50%;
	width: 100%;
	text-align: center;
}
#error {
	display: none;
}
#loading {
	background-image: url('img/ajax-loader.gif');
	background-position:center;
	background-repeat:no-repeat;
	width: 100%;
	height: 100%;
	/*position: fixed;
	bottom: 0px;
	right: 0px;*/
}
table {
	padding: 1px;
	margin: 0px;
	width: 100%;
}
tr {
	padding: 1px 0;
}
td.entry-day {
	color: #182C57;
	white-space: nowrap;
}
td.entry {
	padding: 2px 2px 2px 3px;
	color: #182C57;
	width: 100%;
}
span.entry-time {
	font-weight: bold;
}
td.full-day {
	background-color: #182C57;
	color: #fff;
	border-radius: 3px;
}
.dim-event {
	text-decoration: line-through;
	opacity: 0.6;
}
